snippet us "use strict statement"
'use strict'
endsnippet

snippet make "Factory module template" b
/**
 * ${1:Module description}
 *
 * @namespace ${2:Module name}
 */

/**
 * $2 factory function.
 * 
 * ${3:Short decription goes here}
 *
 * @param spec
 */

const make = (spec) => {

  const that = Object.create(null)

	return that

}

export default make

endsnippet

